.addBookPage {
  padding: 0 32px;
}

.addNewBookHeader {
  text-align: center;
}

.bookDetailInputs {
  padding: 32px 16px;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imageImport {
  padding-top: 25px;
  padding-left: 80px;
}

.imageImportBox {
  height: 100px;
  width: 180px;
  background-color: rgb(173, 173, 173);
  text-align: center;
  color: white;
}

.imageImportBox > p {
  padding-top: 20%;
  text-decoration: underline;
}

.serverInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.generalBookInfo,
.serverBookInfo {
  margin-top: 0;
}

.fieldRow {
  height: 40px;
}

.addBookButtons {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.saveButton,
.addNewBook {
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  outline: none;
  padding: 4px;
}

.successContainer {
  color: green;
}

.errorContainer {
  color: red;
}
